<h1>Hello World!</h1>
<p>acerbum eius et huius peiores medium modi peiores quivis acerbum peiores
  in eius sed Constantium modi causarum medium causarum.</p>
<a class="btn btn-success" href="/individus">Notification</a>
<button class="btn btn-danger" id="quit">Quit</button>