<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Fiches kilométrique</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
  </head>
  <body>
    <h1>Fiches kilométrique!</h1>
    <div>
        <button>Test</button>
    </div>
  </body>
</html>
