<nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <!-- <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div> -->
        <div class="title">
            <h1 class="h4"><%= user.prenom %> <%= user.nom %>  </h1>
            <p><%= user.Role %> </p>
        </div>
    </div>
    <!-- Sidebar Navidation Menus-->
    <span class="heading">Menu</span>
    <% if (user.Role == 'Admin') { %>
        <ul class="list-unstyled">
            <li><a href="/"><i class="fas fa-tachometer-alt"></i>Tableau de bord</a></li>
            <li><a href="/entites"><i class="fas fa-building"></i>Entités</a></li>
            <li><a href="/baremes"><i class="fas fa-clipboard"></i>Barèmes</a></li>
        </ul>
        <span class="heading">Configuration</span>
        <ul class="list-unstyled">
            <li><a href="/types"><i class="fas fa-cog"></i>Types entités</a></li>
            <li><a href="/deplacement"><i class="fas fa-cog"></i>Objet déplacement</a></li>
        </ul>
    <% } else { %>
        <ul class="list-unstyled">
            <li><a href="/"> <i class="fas fa-tachometer-alt"></i>Tableau de bord </a></li>
            <li><a href="/fiches"><i class="fas fa-file-alt"></i></i>Fiches</a></li>
            <li><a href="/vehicules"><i class="fas fa-car"></i>Véhicules</a></li>
        </ul>
    <% } %>
    
    
   
</nav>