<nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <!-- <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div> -->
        <div class="title">
            <h1 class="h4">Laurent Pause</h1>
            <p>Admnistrateur</p>
        </div>
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Menu</span>
    <ul class="list-unstyled">
        <li><a href="/fiches"> <i class="icon-padnote"></i>Fiches </a></li>
        <li><a href="/entites"> <i class="fa fa-building"></i>Entités </a></li>
        <li><a href="/individus"> <i class="fa fa-users"></i>Individus </a></li>
        <li><a href="/vehicules"> <i class="fa fa-car"></i>Véhicules </a></li>
    </ul><span class="heading">Config</span>
    <ul class="list-unstyled">
        <li> <a href="/types"> <i class="fa fa-cog"></i>Type entité </a></li>
        <li> <a href="/deplacements"> <i class="fa fa-cog"></i>Objets de déplacement </a></li>
    </ul>
</nav>