<h3><%= title %></h3>

<form class="form-validate" name="individus" onsubmit="add(event)">
    <div class="form-group">
        <input id="individu-nom" type="text" name="nom" required data-msg="nom"
            class="input-material" placeholder="Nom">
        <label for="individu-nom" class="label-material">Nom</label>
    </div>
    <div class="form-group">
        <input id="individu-prenom" type="text" name="prenom" required data-msg="prenom"
            class="input-material" placeholder="Prenom">
        <label for="individu-prenom" class="label-material">Prenom</label>
    </div>
    <div class="form-group">
        <input id="individu-function" type="text" name="fonction" data-msg="fonction"
            class="input-material" placeholder="Fonction">
        <label for="individu-fonction" class="label-material">Fonction</label>
    </div>
    <button type="submit" class="btn btn-primary" >Ajouter</button>
</form>

<script src="js/script_individus.js"></script>