<form class="form-validate" name="formLogin">
    <div class="form-group">
      <input id="email-login" type="email" name="email" required  class="input-material">
      <label for="email-login" class="label-material">Email</label>
    </div>
    <div class="form-group">
      <input id="pass-login" type="password" name="password" required  class="input-material">
      <label for="pass-login" class="label-material">Mot de passe</label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Connexion</button>
    </div>
  </form>
  <div>
    <small>Pas de compte? </small><a href="/register" class="signup">S'enregistrer</a>
  </div>