<form class="form-validate" id="formRegister">
    <div class="form-group">
      <input id="nom-register" type="text" name="nom" class="input-material">
      <label for="nom-register" class="label-material">Nom</label>
    </div>
    <div class="form-group">
      <input id="prenom-register" type="text" name="prenom" class="input-material">
      <label for="prenom-register" class="label-material">Prénom</label>
    </div>
    <div class="form-group">
      <input id="fonction-register" type="text" name="fonction" required  class="input-material">
      <label for="fonction-register" class="label-material">Fonction</label>
    </div>
    <div class="form-group">
      <input id="email-register" type="email" name="email"  class="input-material">
      <label for="email-register" class="label-material">Email</label>
    </div>
    <div class="form-group">
      <input id="pass-register" type="password" name="password" required  class="input-material">
      <label for="pass-register" class="label-material">Mot de passe</label>
    </div>
    <div class="form-group">
      <button type="submit"  class="btn btn-primary">S'enregistrer</button>
    </div>
  </form><small>Déjà un compte? </small><a href="/login" class="signup">Se connecter</a>

  <script src="js/register.js"></script>